*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #ABCAF0;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav{
    float: left;
    width: 30%;
    height: 373px;
    background: #ccc;
    padding: 20px;
}
nav u1{
    list-style-type: none;
    padding: 0;
}

article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 373px;
}

section::after{
    content:"";
    display: table;
    clear: both;
}

footer{
    background-color: #ABCAF0;
    padding: 10px;
    text-align: center;
    color: white;
}
/*Capar responsiva - hace las dos columnas/las cajas
 se apican una encimade la otra en lugar de una al 
 lado de la otra, en pantallas pequeñas*/
@media (max-width:600px){
    nav,article{
            width: 100%;
            height: auto;
    }
}